//Color Scheme
$swamp: #001614;
$gray: #888;
$silver: #CCC;
$white: #FFF;
$sky-blue: #79DEE7;
$persimmon: #FF565B;
 
//Typography
$lato: 'Lato', sans-serif;
$lato-weight-regular: 400;
 
//Font-Size
$font-size-xxx-large: 40px;
$font-size-xx-large: 30px;
$font-size-x-large: 20px;
$font-size-large: 18px;
$font-size-medium: 16px;
$font-size-small: 14px;
$font-size-x-small: 12px;
 
//Font-Family
$primary-font: $lato;