//Buttons

.primary-button{
    background-color: $sky-blue;
    border: none;
    color: white;
    padding: 0.2rem 1rem;
    }

.secondary-button{
    background-color: $persimmon;
    border: none;
    color: white;
    padding: 0.2rem 1rem;
}